# file locaiton = /etc/systemd/system/startup-mount.service

[Unit]
Description=Mount Music Partition
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/startup-mount.sh
RemainAfterExit=yes

[Install]
WantedBy=graphical.target

#--------------
#Apply Changes:
#--------------
# sudo chmod +x /usr/local/bin/startup-mount.sh
# sudo systemctl daemon-reload
# sudo systemctl enable startup-mount.service
